body {
  margin: 0;
  padding: 0;
  background-color: $textDark;
  //background: linear-gradien  t(to bottom , $textDark, black);
  color: $text;
  font-family: $font;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.none {
  display: none;
}
