body {
  font-family: $font;
}

header {
  width: 100%;
  min-height: 200px;
  background: $main;
  background: linear-gradient(to bottom, $main, $textDark);


nav {
  display: block;
  overflow: hidden;
  ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    float: left;
    margin: 10px;
    a {
    display: block;
    padding: 4px;
    background-color: gainsboro;
    text-decoration: none;
  }
    a:hover {
    background-color: aqua;
  }
  }

}

}



}
